body {
    background-image: url('interlaced.png');
    
}

.conatiner {
    
    
}

h1 {
    color: #4aaaa5;
    font-size: 36px;
    

    
}

#navName {
    background-color: #4aaaa5;
    color: white;
    padding: 5px;

    

}

.top-buffer {
    margin-top: 20px;
}

