body {
    background-image: url('interlaced.png');
    
}

.conatiner {
    background-color: white;
    margin-left: 150px;
    margin-right: 150px;
    
}

h1 {
    color: #4aaaa5;
    font-size: 36px;
    font-weight: bold;
}

#navName {
    background-color: #4aaaa5;
    color: white;
    padding: 10px;
    margin: 0;
    

}

.top-buffer {
    margin-top: 20px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

p { 
    font-size: 18px;
}

footer {
    text-align: center;
    background-color: #666666;
    border-style: solid;
    border-color: #4aaaa5;
    border-top-width: 7px;
    
}

h3 {
    background-color: #4aaaa5;
    width: 245px;
    color: white;
    text-align: center;
    font-size: 24px;
    padding-bottom: 8px;
    padding-top: 8px;
    position: relative;
    bottom: 60px;
}

.btn {
    background-color: #4aaaa5;
    border: none;
    color: white;
    font-size: 18px;
    
}

